/* Темная тема принудительно */
:root.theme-dark {
  --text-color: #f1b2ce;
  --bg-color: #000028;
  --title-color: #db00ff;
  --button-hover: rgba(255, 0, 112, 0.4);
  --text-accent-color: #000028;
  --button-color: #ff0070;
  --section-title-color: #ff0070;
  --accent-color: #ff0070;
  --bg-image: url("../images/cover-image-dark.png");
  --decor-color: #ff0070;
}

.theme-dark .header__rec {
  display: block;
}