/* Светлая тема принудительно */
:root.theme-light {
  --text-color: #353430;
  --bg-color: #fff1f7;
  --title-color: #ffc2e6;
  --button-hover: rgba(53, 52, 48, 0.4);
  --text-accent-color: #353430;
  --button-color: #353430;
  --section-title-color: #353430;
  --accent-color: #ff8dcb;
  --bg-image: url("../images/cover-image-light.png");
  --decor-color: #353430;
}

.theme-light .header__rec {
  display: none;
}